body {
    font-family: "Arial", sans-serif;
  } 
  
  section {
    text-align:center;
  }
  
  .game--title {
    font-size: 90px;
    color: black;
    margin: 10px auto;
  }
  .game--title{
    --h: 1.2em;   
    linea-height: var(--h);
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#10c180 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    transition: 0.3s;
  }
  .game--title:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
  }
  
  
  .game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #11213a;
    color: white;
  }
  
  .cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
  }
  
  .game--status {
    font-size: 50px;
    color:blueviolet;
    margin: 20px auto;
  }
  
  .game--restart {
    background-color:aqua;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: black;
    border-radius: 20%;
  }
  

  